{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "jsxSingleQuote": false,
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "semi": true,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "proseWrap": "always",
        "printWidth": 100
      }
    },
    {
      "files": ["*.json", "*.yaml", "*.yml"],
      "options": {
        "tabWidth": 2,
        "printWidth": 100
      }
    },
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript",
        "semi": true,
        "trailingComma": "all"
      }
    },
    {
      "files": ["*.jsx", "*.tsx"],
      "options": {
        "jsxSingleQuote": false,
        "singleAttributePerLine": true,
        "bracketSameLine": false
      }
    }
  ]
}
