@media (max-width: 768px) {
  :root {
    --padding: 0;
  }
  .wrapper {
    justify-content: flex-start;
  }
  header > .container {
    padding: 50px 0 40px ;
  }
}

/* mobile first */
@media (min-width: 768px) {
}
