:root {
  /* colors */
  --white: #fff;
  --black: #000;
  --body-bg: #c5e4e7;
  --primary-color: #00474b;
  --secondary-color: #26c2ae;
  --hover-color: #9fe8df;
  /* font */
  --main-font: 'Space Mono';
  --secondary-font: 'big shoulders display';
  --font-size: 16px;
  /* main */
  --padding: 32px;
  --container: 920px;
  --anime: 0.5s ease-in-out;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:active,
:focus {
  outline-color: var(--primary-color);
}

html,
body {
  min-width: 320px;
  height: 100%;
}

body {
  font-family: var(--main-font);
  font-size: var(--font-size);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  color: var(--black);
  background-color: var(--body-bg);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul > li {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  /* vertical-align: top; */
}

button {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
}

.wrapper > main {
  flex: 1 1 auto;
}

.container {
  margin: 0 auto;
  width: calc(100% - (var(--padding) * 2));
  max-width: var(--container);
  /* temp-style */
  /* border: 3px solid orange; */
}

/* header */
header > .container {
  display: flex;
  justify-content: center;
  padding: 88px;
}
.logotype {
  width: 86.65px;
  height: auto;
}
/* calculator */
.calculator > .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 48px;
  max-width: 920px;
  padding: 32px;
  background-color: var(--white);
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
  border-radius: 25px;
}
.calculation {
  display: flex;
  flex-flow: column;
  row-gap: 40px;
  padding: 16px 0 16px 16px;
}
.label {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  color: #5e7a7d;
  margin-bottom: 12px;
}
.input-wrapper input,
input#custom {
  position: relative;
  margin-top: 12px;
  width: 100%;
  min-height: 48px;
  padding: 6px 16px 6px 32px;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: right;
  color: var(--primary-color);
  border-radius: 5px;
  background: 
    #f3f9fa 
    url(../assets/images/icon-dollar.svg) no-repeat 16px center / 10px 16px;
  border: none;
  outline: 2px solid #f3f9fa;
  transition: outline var(--anime);
}
.input-wrapper input:focus,
input#custom {
  outline: 2px solid var(--secondary-color);
}
.input-wrapper input#people {
  background-image: url(../assets/images/icon-person.svg);
  background-size: 13px 16px;
}
.input-wrapper input:hover,
label#custom-tip:hover {
  outline: 2px solid var(--secondary-color);
}
input#custom {
  display: block;
  margin-top: 0;
  background-image: none;
}
.tips-wrapper [type='radio'],
.tips-wrapper [type='number'] {
  display: none;
}
/* label:has(input:checked)  {
  color: var(--primary-color);
  background-color: var(--secondary-color);
} */
.tips-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 14px;
  row-gap: 16px;
}
.tips-wrapper label {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--white);
  background: var(--primary-color);
  border-radius: 5px;
  transition: background var(--anime), color var(--anime);
}
.tips-wrapper label:hover {
  color: var(--primary-color);
  background: var(--hover-color);
}
label#custom-tip {
  color: #547878;
  background: #f3f9fa;
  border-radius: 5px;
  outline: 2px solid #f3f9fa;
  transition: outline var(--anime);
}
.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  background: var(--primary-color);
  border-radius: 15px;
}
.result-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.result-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.result-description {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--white);
}
.result-description p {
  font-weight: 700;
  font-size: 0.82rem;
  line-height: 1.46;
  color: #7f9d9f;
}
.result-sum {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.48;
  text-align: right;
  letter-spacing: -1px;
  color: var(--secondary-color);
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-color);
  background: var(--secondary-color);
  border-radius: 5px;
  transition: background var(--anime);
}
.btn:hover {
  background: var(--hover-color);
}

/* footer */
.footer {
  /* align-self: flex-end; */
}
