/* @font-face {
  font-family: "Barlow Semi Condensed";
  font-weight: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/BarlowSemiCondensed-Medium.woff2) format("woff2"),
    url(../assets/fonts/BarlowSemiCondensed-Medium.woff) format("woff");
} */

/* h1, h2, h3, h4, h5, h6 {
  font-family: "Big Shoulders Display";
} */
