@font-face {
  font-family: 'Space Mono';
  font-weight: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/SpaceMono-Regular.woff2) format('woff2'),
    url(../assets/fonts/SpaceMono-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Space Mono';
  font-weight: normal;
  font-weight: bold;
  font-display: swap;
  src: url(../assets/fonts/SpaceMono-Bold.woff) format('woff2'),
    url(../assets/fonts/SpaceMono-Bold.woff) format('woff');
}

/* h1, h2, h3, h4, h5, h6 {
  font-family: "Big Shoulders Display";
} */
